{
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 120,
    "tabWidth": 4,
    "arrays": "semi-spaced",
    "bracketSameLine": true,
    "semi": false,
    "arrowParens": "always"
}
